TourLogger/bin/*
TourLogger/obj/*
TourLogger/.vs/*

TourLauncher/.vs/*
TourLauncher/bin/*
TourLauncher/obj/*

.idea/*
.vs/*
packages/*
TourLogger/Utils/InternalValues.cs
TourLogger/Utils/SecretGrabber.cs